.new-alarm__wrapper{
  position:relative;
  padding-top:80px;
  text-align:center;
  height: 450px;
  font-family: HelveticaNeue-Thin;
  .icon-notification_bell{
    color:$light-blue;
    font-size:30px;
    text-align:center;
  }

.new-alarm__large-text{
font-size: 56px;
margin-top:20px;
margin-bottom:0px;
color: #FFFFFF;
font-weight:300;
  }

  .new-alarm__small-text{
font-size: 18px;
margin-top:2px;
color: #FFFFFF;
  }

  .new-alarm__action-buttons{
      width:100%;
      position: absolute;
      bottom: 0px;
      border: solid 1px black;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);

    button{
      border:none;
      margin-right: 33px;
   margin-left: 50px;
      background-color:black;
    
  a{


    display: inline;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    }
}
  }

  .new-alarm__title{
font-size: 18px;
color: #FFFFFF;
text-align: center;
  }

  #new-alarm__days-selector-wrapper{
 
        width: 230px;
    margin-top: 150px;
    text-align: left;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
  }
  #new-alarm__days-selector-wrapper input {
    visibility:hidden;
  }

#new-alarm__days-selector-wrapper input[type=checkbox] + label {
  display: inline-block;
  border: solid 1px #9B9B9B;
  border-radius: 30px;
  color:#9B9B9B;
  height: 30px;
  width: 30px;
  margin-right: 3px;
  margin-bottom:20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

#new-alarm__days-selector-wrapper input[type=checkbox]:checked + label {
  color:white;
  border: solid 1px white;
}

.new-alarm__time-seperator{
      font-size:56px;
}

.new-alarm__time-box{
    border: none;
    background-color: transparent;
    resize: none;
    font-size: 56px;
    outline: none;
    color: white;
    width: 70px;
    text-align: center;
    margin: 0;
    display: inline;
}
  
}