.iphone-header{

width:100%;
margin:0 auto;
display:inline-block;
text-align:center;
font-family: HelveticaNeue-Thin;

&__connection-icons{
		float:left;
		li{
			list-style: none;
    		display: inline;
    		padding-right: 5px;
		}
}
	
	.iphone-header__time{
		text-align:center;
		
	}

	&__status-icons{
		float:right;
		    -webkit-padding-end: 40px;
		li{
			list-style: none;
    		display: inline;
    		padding-right: 5px;
		}
	}
}